* {
  margin: 0;
  padding: 0;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About */
.about {
    padding: 50px;
    text-align: center;
}

/* Services */
.services {
    padding: 50px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background: #f4f4f4;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    margin: 5px;
}
button {
    padding: 10px;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}































